name: Verify state

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: adopt
      - name: Compile with Gradle
        run: ./gradlew jar -x test -x javadoc
      - name: Test with Gradle
        run: ./gradlew test
      - name: Javadoc with Gradle
        run: ./gradlew javadoc
      - name: License Check with Gradle
        run: ./gradlew spotlessCheck
